# Set the environement

# Logs to track execution time !!!

In [1]:
!hadoop fs -mkdir /haythem

In [2]:
!hadoop fs -put /home/haythem/imdb_dataset /haythem

In [3]:
#Import the nesseceray packages 
from pyspark.sql.types import IntegerType, FloatType 
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
import pyspark
import time
import fun

In [4]:
#Create spark session
spark = SparkSession.builder \
    .appName("MoviesRating") \
    .config("spark.executor.memory", "10g") \
    .getOrCreate()

# set the log level to "ERROR" or "FATAL" to suppress warnings
spark.sparkContext.setLogLevel("ERROR")

#WARN SparkStringUtils: Truncated the string representation of a plan since it was too large.
#solution : spark.conf.set("spark.sql.debug.maxToStringFields", "your_desired_value")
spark.conf.set("spark.sql.debug.maxToStringFields", "-1")

24/06/01 22:04:40 WARN Utils: Your hostname, haythem-Dell-G15-5510 resolves to a loopback address: 127.0.1.1; using 192.168.1.14 instead (on interface wlp0s20f3)
24/06/01 22:04:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/01 22:04:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# 1 - Extract
## Explore the data

In [5]:
name_basics_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/name_basics"
title_akas_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_akas"
title_basics_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_basics"
title_crew_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_crew"
title_episode_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_episode"
title_principals_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_principals"
title_ratings_hdfs_path = "hdfs://localhost:9000/haythem/imdb_dataset/title_ratings"

#############################################
start_time = time.time()

df_name_name_basics_      = spark.read.format("csv").option("delimiter", "\t").load(name_basics_hdfs_path, header=True, inferSchema=True)
df_name_title_akas_       = spark.read.format("csv").option("delimiter", "\t").load(title_akas_hdfs_path, header=True, inferSchema=True)
df_name_title_basics_     = spark.read.format("csv").option("delimiter", "\t").load(title_basics_hdfs_path, header=True, inferSchema=True)
df_name_title_crew_       = spark.read.format("csv").option("delimiter", "\t").load(title_crew_hdfs_path, header=True, inferSchema=True)
df_name_title_episode_    = spark.read.format("csv").option("delimiter", "\t").load(title_episode_hdfs_path, header=True, inferSchema=True)
df_name_title_principals_ = spark.read.format("csv").option("delimiter", "\t").load(title_principals_hdfs_path, header=True, inferSchema=True)
df_name_title_ratings_    = spark.read.format("csv").option("delimiter", "\t").load(title_ratings_hdfs_path, header=True, inferSchema=True)

end_time = time.time()
##############################################
# Calculate execution time
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")


fun.show_info(df_name_name_basics_, "df_name_name_basics_")
fun.show_info(df_name_title_basics_, "df_name_title_basics_")
fun.show_info(df_name_title_crew_, "df_name_title_crew_")
fun.show_info(df_name_title_ratings_, "df_name_title_ratings_")
#fun.show_info(df_name_title_akas_, "title_akas")
#fun.show_info(df_name_title_episode_, "title_episode")
#fun.show_info(df_name_title_principals_, "title_principals")

Execution time: 38.74408483505249 seconds
_df_name_name_basics__
root
 |-- nconst: string (nullable = true)
 |-- primaryName: string (nullable = true)
 |-- birthYear: string (nullable = true)
 |-- deathYear: string (nullable = true)
 |-- primaryProfession: string (nullable = true)
 |-- knownForTitles: string (nullable = true)

+---------+-------------------+---------+---------+--------------------+--------------------+
|   nconst|        primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+-------------------+---------+---------+--------------------+--------------------+
|nm0000001|       Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0072308,tt00504...|
|nm0000002|      Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0075213,tt00373...|
|nm0000003|    Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0054452,tt00564...|
|nm0000004|       John Belushi|     1949|     1982|actor,soundtrack,...|tt0078723,tt00804...|
|nm0000005|     Ingmar Bergman|     1918|     2007|writer,director,a...|tt0050986,tt00839...|
|nm0000006|     Ingrid Bergman|     1915|     1982|actress,soundtrac...|tt0038109,tt00387...|
|nm0000007|    Humphrey Bogart|     1899|     1957|actor,soundtrack,...|tt0042593,tt00345...|
|nm0000008|      Marlon Brando|     1924|     2004|actor,soundtrack,...|tt0078788,tt00708...|
|nm0000009|     Richard Burton|     1925|     1984|actor,soundtrack,...|tt0061184,tt00578...|
|nm0000010|       James Cagney|     1899|     1986|actor,soundtrack,...|tt0042041,tt00355...|
|nm0000011|        Gary Cooper|     1901|     1961|actor,soundtrack,...|tt0035896,tt00447...|
|nm0000012|        Bette Davis|     1908|     1989|actress,soundtrac...|tt0042192,tt00351...|
|nm0000013|          Doris Day|     1922|     2019|soundtrack,actres...|tt0045591,tt00531...|
|nm0000014|Olivia de Havilland|     1916|     2020|  actress,soundtrack|tt0029843,tt00414...|
|nm0000015|         James Dean|     1931|     1955| actor,miscellaneous|tt0048028,tt00492...|
|nm0000016|    Georges Delerue|     1925|     1992|composer,soundtra...|tt0096320,tt88477...|
|nm0000017|   Marlene Dietrich|     1901|     1992|soundtrack,actres...|tt0052311,tt00211...|
|nm0000018|       Kirk Douglas|     1916|     2020|actor,producer,so...|tt0043338,tt00543...|
|nm0000019|   Federico Fellini|     1920|     1993|writer,director,a...|tt0050783,tt00568...|
|nm0000020|        Henry Fonda|     1905|     1982|actor,producer,so...|tt0050083,tt00828...|
+---------+-------------------+---------+---------+--------------------+--------------------+
only showing top 20 rows

_df_name_title_basics__
root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

_df_name_title_crew__
root
 |-- tconst: string (nullable = true)
 |-- directors: string (nullable = true)
 |-- writers: string (nullable = true)

+---------+-------------------+---------+
|   tconst|          directors|  writers|
+---------+-------------------+---------+
|tt0000001|          nm0005690|       \N|
|tt0000002|          nm0721526|       \N|
|tt0000003|          nm0721526|       \N|
|tt0000004|          nm0721526|       \N|
|tt0000005|          nm0005690|       \N|
|tt0000006|          nm0005690|       \N|
|tt0000007|nm0005690,nm0374658|       \N|
|tt0000008|          nm0005690|       \N|
|tt0000009|          nm0085156|nm0085156|
|tt0000010|          nm0525910|       \N|
|tt0000011|          nm0804434|       \N|
|tt0000012|nm0525908,nm0525910|       \N|
|tt0000013|          nm0525910|       \N|
|tt0000014|          nm0525910|       \N|
|tt0000015|          nm0721526|       \N|
|tt0000016|          nm0525910|       \N|
|tt0000017|nm0804434,nm1587194|       \N|
|tt0000018|          nm0804434|       \N|
|tt0000019|          nm0932055|       \N|
|tt0000020|          nm0010291|       \N|
+---------+-------------------+---------+
only showing top 20 rows

_df_name_title_ratings__
root
 |-- tconst: string (nullable = true)
 |-- averageRating: double (nullable = true)
 |-- numVotes: integer (nullable = true)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1983|
|tt0000002|          5.8|     265|
|tt0000003|          6.5|    1840|
|tt0000004|          5.5|     178|
|tt0000005|          6.2|    2623|
|tt0000006|          5.1|     182|
|tt0000007|          5.4|     821|
|tt0000008|          5.4|    2118|
|tt0000009|          5.3|     206|
|tt0000010|          6.9|    7202|
|tt0000011|          5.3|     370|
|tt0000012|          7.4|   12324|
|tt0000013|          5.7|    1894|
|tt0000014|          7.1|    5547|
|tt0000015|          6.1|    1095|
|tt0000016|          5.9|    1512|
|tt0000017|          4.6|     330|
|tt0000018|          5.3|     598|
|tt0000019|          4.8|      32|
|tt0000020|          4.8|     364|
+---------+-------------+--------+
only showing top 20 rows

## More details about  it

In [22]:
#import importlib
i#mportlib.reload(fun)

In [21]:
# find the empty and the nullable value of each column in _name_basics_
############################################
start_time = time.time()
list_of_targets = [df_name_name_basics_, df_name_title_ratings_, df_name_title_crew_, df_name_title_basics_ ]
list_of_targets_name = ['df_name_name_basics_', 'df_name_title_ratings_', 'df_name_title_crew_', 'df_name_title_basics_' ]
for df, name in zip(list_of_targets, list_of_targets_name) :
    print(name)
    fun.print_empty_values(df)

end_time = time.time()
############################################
# Calculate execution time
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")

for df, name in zip(list_of_targets, list_of_targets_name) :
    duplicate_count_all = df.groupBy(df.columns).count().where(col("count") > 1).count()
    print(f"{name} : {duplicate_count_all} duplicates")

df_name_name_basics_

Number of rows: 12655595

Number of Empty Values in Each Column:

nconst: 0 || \N: 0

primaryName: 8 || \N: 0

birthYear: 0 || \N: 12071999

deathYear: 0 || \N: 12438488

primaryProfession: 2460843 || \N: 0

knownForTitles: 0 || \N: 1286509
df_name_title_ratings_
Number of rows: 1326238

Number of Empty Values in Each Column:

tconst: 0 || \N: 0
averageRating: 0 || \N: 0
numVotes: 0 || \N: 0
df_name_title_crew_

Number of rows: 9978989

Number of Empty Values in Each Column:

tconst: 0 || \N: 0

directors: 0 || \N: 4245029

writers: 0 || \N: 4806274
df_name_title_basics_

Number of rows: 9978989

Number of Empty Values in Each Column:

tconst: 0 || \N: 0

titleType: 0 || \N: 0

primaryTitle: 8 || \N: 0

originalTitle: 8 || \N: 0

isAdult: 0 || \N: 1

startYear: 0 || \N: 1344843

endYear: 0 || \N: 9869509

runtimeMinutes: 0 || \N: 7016116

genres: 15 || \N: 448365
Execution time: 161.9730806350708 seconds

df_name_name_basics_ : 0 duplicates

df_name_title_ratings_ : 0 duplicates

df_name_title_crew_ : 0 duplicates

df_name_title_basics_ : 0 duplicates

# 2 - Transform

In [32]:
#Columns to drop from "_title_basics_"
drop_colos__title_basics_ = ['titleType','originalTitle','endYear','runtimeMinutes']
df_name_title_basics_ = df_name_title_basics_.drop(*drop_colos__title_basics_)

#converting the data type of the column 'startYear' and 'isAdult' in the dataframe "df__title_basics_" to integers
df_name_title_basics_ = df_name_title_basics_.withColumn('startYear', df_name_title_basics_['startYear'].cast(IntegerType()))
df_name_title_basics_ = df_name_title_basics_.withColumn('isAdult', df_name_title_basics_['isAdult'].cast(IntegerType()))

#Take care of none values 
start_time = time.time()
for d in range(len(list_of_targets_)):
    list_of_targets_[d] = fun.change_to_None(list_of_targets_[d])
end_time = time.time()

# Calculate execution time
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")   

# Perform a left join to preserve all rows from df_name_title_basics_
joined_df = list_of_targets[3].join(list_of_targets[1], "tconst", "left")
df_name_name_basics_ = list_of_targets[0]
df_name_title_crew_ = list_of_targets[2]

Execution time: 0.1571645736694336 seconds

## Verification

In [24]:
#Verify 
for df, name in zip(list_of_targets, list_of_targets_name) :
    print(name)
    fun.print_None_values(df)
joined_df.show()

df_name_name_basics_
Number of Empty Values in Each Column:

nconst: 0 || \N: 0

primaryName: 8 || \N: 0

birthYear: 12071999 || \N: 0

deathYear: 12438488 || \N: 0

primaryProfession: 2460843 || \N: 0

knownForTitles: 1286509 || \N: 0
df_name_title_ratings_
Number of Empty Values in Each Column:

tconst: 0 || \N: 0
averageRating: 0 || \N: 0
numVotes: 0 || \N: 0
df_name_title_crew_
Number of Empty Values in Each Column:

tconst: 0 || \N: 0

directors: 4245029 || \N: 0

writers: 4806274 || \N: 0
df_name_title_basics_
Number of Empty Values in Each Column:

tconst: 0 || \N: 0

titleType: 0 || \N: 0

primaryTitle: 8 || \N: 0

originalTitle: 8 || \N: 0

isAdult: 1 || \N: 0

startYear: 1344843 || \N: 0

endYear: 9869509 || \N: 0

runtimeMinutes: 7016116 || \N: 0

genres: 448380 || \N: 0

+----------+--------------------+-------+---------+--------------------+-------------+--------+
|    tconst|        primaryTitle|isAdult|startYear|              genres|averageRating|numVotes|
+----------+--------------------+-------+---------+--------------------+-------------+--------+
| tt0000008|Edison Kinetoscop...|      0|     1894|   Documentary,Short|          5.4|    2118|
| tt0000015| Autour d'une cabine|      0|     1894|     Animation,Short|          6.1|    1095|
| tt0000019|    The Clown Barber|      0|     1898|        Comedy,Short|          4.8|      32|
| tt0892353|Se una notte a mo...|      0|     1982|      Comedy,Fantasy|         NULL|    NULL|
|tt12879082|Cold Case, Unearthed|      0|     2021|               Crime|          7.1|      13|
|tt14409530|Charlotte, lycéen...|      1|     2013|               Adult|         NULL|    NULL|
|tt22974220|       Episode #1.27|      0|     NULL|                  \N|         NULL|    NULL|
|tt27867902|       Episode #1.42|      0|     2022|               Drama|         NULL|    NULL|
|tt27867914|Saikuron gunner! ...|      0|     2005|Action,Adventure,...|         NULL|    NULL|
|tt27867916|Top 10 Difference...|      0|     2023|           Talk-Show|         NULL|    NULL|
| tt4492768|       Episode #8.14|      0|     2014|                  \N|         NULL|    NULL|
| tt4492798|        Episode 1769|      0|     1999|        Drama,Family|         NULL|    NULL|
| tt6360056|2015: Day 3 Highl...|      0|     2015|               Sport|         NULL|    NULL|
| tt8189692|      Episode #1.147|      0|     1985|       Drama,Romance|         NULL|    NULL|
| tt8189730|      Episode #1.142|      0|     1989|        Drama,Family|         NULL|    NULL|
| tt0000002|Le clown et ses c...|      0|     1892|     Animation,Short|          5.8|     265|
| tt0000004|         Un bon bock|      0|     1892|     Animation,Short|          5.5|     178|
| tt0000017|Italienischer Bau...|      0|     1895|   Documentary,Short|          4.6|     330|
| tt0892338|    Paris une étoile|      0|     2006|   Documentary,Short|         NULL|    NULL|
| tt0892352|         The Samurai|      0|     2003|Documentary,Histo...|          6.4|      19|
+----------+--------------------+-------+---------+--------------------+-------------+--------+
only showing top 20 rows

# 3 - Load

In [34]:
# Define HDFS directory and filenames
hdfs_directory = "hdfs://localhost:9000/haythem/imdb_dataset/output_directory"
final_output_filename1 = "films.csv"
final_output_filename2 = "crew.csv"
final_output_filename3 = "films_crew.csv"

start_time = time.time()
# Save DataFrames to HDFS with permissions
fun.save_df_to_hdfs_with_permissions(joined_df, hdfs_directory, final_output_filename1)
fun.save_df_to_hdfs_with_permissions(df_name_name_basics_, hdfs_directory, final_output_filename2)
fun.save_df_to_hdfs_with_permissions(df_name_title_crew_, hdfs_directory, final_output_filename3)
end_time = time.time()

# Calculate execution time
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")

Deleted hdfs://localhost:9000/haythem/imdb_dataset/output_directory/temp_films.csv

Deleted hdfs://localhost:9000/haythem/imdb_dataset/output_directory/temp_crew.csv

Deleted hdfs://localhost:9000/haythem/imdb_dataset/output_directory/temp_films_crew.csv
Execution time: 123.32988834381104 seconds

In [35]:
spark.stop()